.about-offer {
    background: $white;
    @include adaptiveValue("padding-top", 82, 50);
    @include adaptiveValue("padding-bottom", 119, 30);

    // .about-offer__container

    &__container {
    }

    // .about-offer__title

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    // .about-offer__title-value

    &__title-value {
        color: $color-grafit;
        @include adaptiveValue("font-size", 48, 24);
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0.01em;
        max-width: 950px;
        text-align: center;
        @include adaptiveValue("margin-bottom", 78, 20);
    }

    // .about-offer__icon-block-row

    &__icon-block-row {
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: 50px;
        justify-content: space-between;
        max-width: 1545px;
        @include adaptiveValue("margin-bottom", 150, 50);
        @media (min-width: 1750px) {
            grid-template-columns: repeat(5, 240px);
        }
        @media (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }

    // .about-offer__icon-block-item

    &__icon-block-item {
        display: grid;
        gap: 10px;
        grid-template-rows: 205px auto;
        @media (max-width: 1200px) {
            grid-template-rows: 130px auto;
        }
        // @media (max-width: 767px) {
        //     max-width: 155px;
        // }
        // @media (max-width: 576px) {
        //     max-width: 160px;
        //     grid-template-rows: 80px auto;
        //     &:not(:last-child) {
        //         padding-bottom: 10px;
        //     }
        // }
        @media (max-width: 767px) {
            max-width: 155px;
            grid-template-rows: 110px auto;
        }
        @media (max-width: 576px) {
            grid-template-rows: 90px auto;
            max-width: 136px;
            gap: 10px;
            &:not(:last-child) {
                padding-bottom: 10px;
            }
        }
        @media (max-width: 365px) {
            grid-template-rows: 80px auto;
        }
    }
    
    // .about-offer__icon-block-img-container

    &__icon-block-img-container {
        text-align: center;
        align-self: center;
    }
    // .about-offer__icon-block-img

    &__icon-block-img {
        vertical-align: bottom;
        @include adaptiveValue("max-width", 135, 70);
        @include adaptiveValue("max-height", 100, 60);
    }

    // .about-offer__icon-block-text

    &__icon-block-text {
        font-weight: 600;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.01em;
        color: $color-red;
        @include adaptiveValue("font-size", 20, 16, 1600, 700, 1);
        @media (max-width: 768px) {
            font-weight: 500;
        }
    }

    // .about-offer__title-description

    &__title-description {
        max-width: 1009px;
        text-align: center;
        color: $color-grafit;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.01em;
        @include adaptiveValue("margin-top", 135, 50);
        @include adaptiveValue("font-size", 20, 16);
    }

    // .about-offer__desc

    &__desc {
        font-size: 18px;
    }

    // .about-offer__subtitle

    &__subtitle {
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 18);
        line-height: 150%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        // margin: 0 0 rem(24) 0;
        max-width: 1066px;
        @include adaptiveValue("margin-bottom", 70, 15);
    }

    // .about-offer__text

    &__text {
        display: flex;
        @include adaptiveValue("gap", 30, 20);
        max-width: 1400px;
    }

    // .about-offer__desc-list

    &__desc-list {
        flex: 1 1 33%;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(16) rem(28);
        column-count: 3;
        li {
            list-style-type: disc;
            padding-left: rem(8);
            margin-right: 30px;
            page-break-inside: avoid;
            break-inside: avoid;
            &:not(:last-child) {
                margin-bottom: 20px;
                @media (max-width: 576px) {
                    margin-bottom: 15px;
                }
            }
        }
        @media (max-width: 991.98px) {
            margin-bottom: 30px;
            column-count: 2;
        }
        @media (max-width: 576px) {
            column-count: 1;
        }
    }
}

.for-whom-about-offer {
    .nav.nav-tabs .nav-item:not(:last-child) {
        // margin-right: 20px;
        margin-right: 0;
      }
    .nav.nav-tabs .nav-link:not(:last-child) {
        padding-right: 20px;
        margin-right: 0;
      }
}
.for-whom__col {
    position: relative;
}