.article {

    // .article__container

    &__container {
        // max-width: 1860px;
    }
    &__container-header {
        padding: 0;
        margin: 0;
    }

    // .article__row

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .article__head

    &__head {
        // position: relative;
        display: flex;
        flex-direction: column;
        // align-items: center;
    }

    // .article__title

    &__title {
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        @include adaptiveValue("font-size", 48, 20);
        img {
            min-height: 80px;
        }
    }

    // .article__title-img

    &__title-img {
        min-height: 80px;
        object-fit: cover;
        width: 100%;
        // margin-bottom: -120px;
        @include adaptiveValue("margin-bottom", -120, -70);
    }

    // .article__body

    &__body {
        display: flex;
        @include adaptiveValue("gap", 100, 50);
        // max-width: 1620px;
        // margin: 0 auto;
        @include adaptiveValue("padding-top", 70, 50);
        @include adaptiveValue("padding-bottom", 70, 50);
        @media (max-width: 991.98px) {
            flex-direction: column;
            gap: 30px;
        }
    }

    // .article__text

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        p {
            @include adaptiveValue("padding-bottom", 40, 20);
        }
        ul {
            padding-left: 30px;
            li {
                list-style-type: disc;
                padding-left: 15px;
            }
        }
    }

    // .article__form

    &__form {
        margin-right: 83px;
        @include adaptiveValue("margin-right", 83, 0, 2000, 1100, 1);
        .button-red {
            height: 100%;
            padding: 10px;
        }
    }

    // .article__readmore

    &__readmore {
        @include adaptiveValue("margin-bottom", 86, 30);
        // margin: 0 auto;
        @media (min-width: 1860px) {
            // max-width: 1860px;
            // margin-right: -110px;
            // margin-left: 130px;
        }
    }

    // .article__readmore-header

    &__readmore-header {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        @include adaptiveValue("margin-bottom", 63, 30);
    }

    // .article__readmore-wrapper

    &__readmore-wrapper {
        display: flex;
        gap: 1%;
        flex-wrap: wrap;
        @media (max-width: 991.98px) {
            justify-content: space-between;
            gap: 20px;
        }
        @media (max-width: 576px) {
            flex-direction: column;
            gap: 30px;
            justify-content: start;
        }
    }

    // .article__readmore-item

    &__readmore-item {
        // max-width: 440px;
        width: 24%;
        @media (max-width: 991.98px) {
            width: 48%;
        }
        @media (max-width: 576px) {
            width: 100%;
            display: flex;
            gap: 20px;
        }
        @media (max-width: 399px) {
            width: 100%;
            display: block;
        }
    }

    // .article__readmore-img

    &__readmore-img {
        margin-bottom: 22px;
        @media (any-hover: hover){
            &:hover{
                opacity: 0.8;
            }
        }
    }

    // .article__readmore-title

    &__readmore-title {
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 18, 2000, 1500, 1);
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin-bottom: 14px;
        a {
            @media (any-hover: hover){
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }

    // .article__readmore-desc

    &__readmore-desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: $color-grafit;
    }
}
