@font-face {
	font-family: 'Gilroy-Black';
	src: url('../fonts/gilroy-black.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-black.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
    font-weight: 900;
    font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-heavy.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-bold.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/gilroy-semibold.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
    font-weight: 600;
    font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-medium.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-regular.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-ultralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-ultralight.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
    font-weight: 200;
    font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-thin.woff') format('woff'); /* Firefox >= 3.6, any other modern browser */
    font-weight: 100;
    font-style: normal;
}