.for-whom {

    // .for-whom__container

    &__container {
        @include adaptiveValue("margin-top", 50, 20);
        @include adaptiveValue("margin-bottom", 150, 50);
    }

    // .for-whom__row

    &__row {
        max-width: 1545px; 
        margin: 0 auto;
        .nav-tabs {
            display: flex;
            justify-content: space-between;
            border-bottom: none;
        }
        .nav-item {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: end;
            border-bottom: 1px solid $color-grafit;
            @media (max-width: 991px) {
                max-width: 100%;
                width: auto;
                justify-content: start;
            }
        }
        .nav-link {
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: $color-grafit;
            max-width: 1400px;
            padding: 10px;
            padding-bottom: 15px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: end;
            width: 100%;
            min-height: 45px;
            &.active {
                border: none;
                color: $color-red;
                font-weight: 600;
                border-bottom: 4px solid $color-red;
                padding-bottom: 11px;
            }
            @media (any-hover: hover){
                &:hover {
                    opacity: 0.8;
                }
            }
            @media (max-width: 991.98px) {
                width: 210px;
                &.active {
                    // width: auto;
                }
            }
        }
    }

    // .for-whom__tabs-row

    &__tabs-row {
        @media (max-width: 991.98px) {
            overflow: auto;
            padding: 0;
            padding-bottom: 2px;
        }
        .nav.nav-tabs {
            display: flex;
        }
    }

    // .for-whom__body

    &__body {
        margin-top: 67px;
        @media (max-width: 991px) {
            margin-top: 30px;
        }
    }

    // .for-whom__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    // .for-whom__list

    &__list {
    }

    // .for-whom__item

    &__item-right {
        max-width: 628px;
        padding-bottom: 30px;
        @media (max-width: 991.98px) {
            @include adaptiveValue("padding-bottom", 40, 20, 992, 360, 1);
        }
    }

    // .for-whom__item-left

    &__item-left {
        max-width: 600px;
        @media (max-width: 991.98px) {
            margin: 0 auto;
        }
        img {
            border-radius: 0px 0px 0px 135.501px;
            @media (max-width: 460px) {
                border-radius: 0px 0px 0px 100px;
            }
            @media (max-width: 380px) {
                border-radius: 0px 0px 0px 80px;
            }
        }
    }

    // .for-whom__title

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(50) 0;
        max-width: 1400px;
        @media (max-width: 1950px) {
            font-size: 44px;
        }
        @media (max-width: 1780px) {
            font-size: 38px;
        }
        @media (max-width: 1550px) {
            font-size: 32px;
        }
        @media (max-width: 991.98px) {
            margin-bottom: 30px;
            @include adaptiveValue("font-size", 48, 28);
        }
    }

    // .for-whom__desc

    &__desc {
        
    }

    // .for-whom__subtitle

    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(24) 0;

    }

    // .for-whom__desc-list

    &__desc-list {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(56) rem(28);
        li {
            list-style-type: disc;
            padding-left: rem(8);
        }
        @media (max-width: 991.98px) {
            margin-bottom: 30px;
        }
    }
}
.for-whom-about__item-body {
    position: relative;
}
.for-whom-about__item-left {
    position: absolute;
    right: 10px;
    top: 133px;
    z-index: 5;
    @media (max-width: 991.98px) {
        position: static;
        margin-top: 20px;
    }
}
    // .for-whom-about__body

.for-whom-about__body {
    margin-top: 67px;
    @media (max-width: 1460px) {
        @include adaptiveValue("max-width", 670, 400);
    }
    @media (max-width: 991px) {
        margin-top: 30px;
        max-width: 100%;
    }
}

.for-whom-about-offer {
    & .for-whom__row {
        max-width: none;
    }
}