.for-whom {

    // .for-whom__container

    &__container {
        @include adaptiveValue("margin-top", 50, 20);
        @include adaptiveValue("margin-bottom", 150, 50);
    }

    // .for-whom__row

    &__row {
        max-width: 1545px; 
        margin: 0 auto;
        .nav-tabs {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            border-bottom: 1px solid $color-grafit;
            @media (max-width: 991.98px) {
                // flex-direction: column;
                // border-bottom: 0;
            }
        }
        .nav-item {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: end;
            // max-width: 245px;
            // &:not(:last-child) {
            //     margin-right: 85px;
            // }
            @media (max-width: 1500px) {
                // @include adaptiveValue("max-width", 245, 125, 1500, 992, 1);
            }
            @media (max-width: 991px) {
                max-width: 100%;
                width: auto;
                justify-content: start;
                // align-items: start;
            }
        }
        .nav-link {
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            letter-spacing: 0.01em;
            color: $color-grafit;
            margin: 10px 0;
            max-width: 1400px;
            padding: 0;
            border: none;
            display: flex;
            justify-content: center;
            // white-space: nowrap;
            align-items: end;
            width: 100%;
            min-height: 45px;
            &.active {
                border: none;
                color: $color-red;
                font-weight: 600;
                border-bottom: 4px solid $color-red;
                padding-bottom: 10px;
                margin-bottom: -2px;
            }
            @media (any-hover: hover){
                &:hover {
                    opacity: 0.8;
                }
            }
            @media (max-width: 991.98px) {
                // justify-content: start;
                // min-height: auto;
                height: 60px;
                width: 210px;
                padding: 10px 0;
                margin: 0;
                &.active {
                    // width: auto;
                }
            }
        }
    }

    // .for-whom__tabs-row

    &__tabs-row {
        @media (max-width: 991.98px) {
            overflow: auto;
            padding: 0;
            padding-bottom: 2px;
        }
        .nav.nav-tabs {
            display: flex;
        }
        .nav.nav-tabs .nav-item:not(:last-child) {
            // margin-right: 85px;
        }
    }

    // .for-whom__body

    &__body {
        margin-top: 67px;
        // max-width: 670px;
        // @media (max-width: 1460px) {
        //     @include adaptiveValue("max-width", 670, 400);
        // }
        @media (max-width: 991px) {
            margin-top: 30px;
            // max-width: 100%;
        }
    }

    // .for-whom__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    // .for-whom__list

    &__list {
    }

    // .for-whom__item

    &__item-right {
        max-width: 628px;
        padding-bottom: 30px;
        @media (max-width: 991.98px) {
            @include adaptiveValue("padding-bottom", 60, 30, 992, 360, 1);
        }
    }

    // .for-whom__item-left

    &__item-left {
        max-width: 600px;
        @media (max-width: 991.98px) {
            margin: 0 auto;
        }
        img {
            border-radius: 0px 0px 0px 135.501px;
        }
    }

    // .for-whom__title

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(50) 0;
        max-width: 1400px;
        @media (max-width: 991.98px) {
            margin-bottom: 30px;
            @include adaptiveValue("font-size", 48, 28);
        }
    }

    // .for-whom__desc

    &__desc {
        
    }

    // .for-whom__subtitle

    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(24) 0;

    }

    // .for-whom__desc-list

    &__desc-list {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(56) rem(28);
        li {
            list-style-type: disc;
            padding-left: rem(8);
        }
        @media (max-width: 991.98px) {
            margin-bottom: 30px;
        }
    }
}
.for-whom-about__right {
    @media (min-width: 992px) {
        max-width: 40%;
    }
}
.for-whom-about__left {
    @media (min-width: 992px) {
        max-width: 60%;
    }
}
.for-whom-about__item-body {
    position: relative;
}
.for-whom-about__item-left {
    position: absolute;
    right: 10px;
    top: 133px;
    z-index: 5;
    @media (max-width: 991.98px) {
        position: static;
    }
}


    // .for-whom-about__body

.for-whom-about__body {
    margin-top: 67px;
    // max-width: 670px;
    @media (max-width: 1460px) {
        @include adaptiveValue("max-width", 670, 400);
    }
    @media (max-width: 991px) {
        margin-top: 30px;
        max-width: 100%;
    }
}