.gallery {

    // .gallery__container

    &__container {
        margin-top: 50px;
        // margin-bottom: 50px;
        // padding: 0;
        &-pic {
            padding: 0;
        }
    }

    // .gallery__row

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .gallery__row

    &__tabs-row {
        max-width: 1545px;
        > .nav-tabs {
            border: 0;
        }

        .nav-link {
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0.01em;
            color: $color-grafit;
            padding:rem(14) 0;
            max-width: 1400px;
            border: none;
            &.active {
                border: none;
                color: $color-red;
            }
            @media (any-hover: hover){
                &:hover,
                &:focus,
                &:focus-visible,
                &:active {
                    border: none;
                    opacity: 0.8;
                }
            }
        }
    }

    // .gallery__title

    &__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 48, 32);
        line-height: 120%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: rem(50) 0;
        max-width: 1400px;
        @media (max-width: 991px) {
            margin: rem(20) 0;
        }
    }

    // .gallery__body

    &__body {
        border-top: 10px solid $color-red;
        padding-left: 0;
        padding-right: 0;
    }

    // .gallery__list

    &__list {
        > .active {
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 767px) {
            }
        }
    }

    // .gallery__item

    &__item {
        display: block;
        width: 25%;
        overflow: hidden;
        background: #000;
        cursor: pointer;
        a {
            display: block;
        }
        img {
            width: 100%;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.05);
                    opacity: 0.75;
                }
            }
        }
        @media (max-width: 767px) {
            width: 50%;
            flex: 1 0 auto;
        }
    }

    // .gallery__btn

    &__btn {
        min-width: 166px;
    }

    .nav.nav-tabs {
        .nav-link {
            padding-right: 30px;
            @media (max-width: 991.98px) {
                width: 220px;
            }
        }
    }
}

.nav.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    // white-space: nowrap;
    // 
    @media (max-width: 991.98px) {
        // overflow: auto;
        // box-sizing: border-box;
        // padding-bottom: 1px;
        // margin-bottom: 2px;
    }
    @media (max-width: 767.98px) {
        // overflow: auto;
    }
    .nav-item {
        &:not(:last-child) {
            // margin-right: 100px;
        }
        @media (max-width: 1400px) {
            &:not(:last-child) {
                // margin-right: 30px;
            }
        }
        @media (max-width: 767.98px) {
            // height: 86px;
            &:not(:last-child) {
                // margin-right: 10px;
            }
        }
    }
    .nav-link {
        @media (max-width: 991.98px) {
            font-size: 17px;
        }
        @media (max-width: 767.98px) {
            font-size: 16px;
        }
    }
    .nav-link.active {
        background-color: transparent;
    }
}
.container {
}
.nav {
}
.nav-tabs {
}
.nav-item {
}
.nav-link {
}
.active {
}
.tab-content {
}
.tab-pane {
}
.fade {
}
.show {
}
.img-fluid {
}