.header {

    @media (min-width: 1200px) {
        margin-bottom: 45px;
    }
    // .header__promo

    &__promo {
        @include adaptiveValue("padding-top", 0, 10);
        @include adaptiveValue("padding-bottom", 0, 10);
    }

    // .header__body

    &__body {
        .menu-open & {
            position: static;
        }
        display: flex;
        justify-content: center;
    }

    // .header__catalog

    &__catalog {
        transition: all 0.3s ease 0s;
        height: 45px;
        &:hover {
            height: 127px;
            transition: all 0.3s ease 0s;
            & .catalog-header__link-icon svg {
                transition: all 0.5s ease 0s;
                height: 82px;
            }
        }
    }
}
.promo-header {

    min-height: 44px;
    color: $white;
    background-color: $color-grafit;
    display: flex;
    align-items: center;

    // .promo-header__row

    &__row {
        justify-content: space-between;
    }

    // .promo-header__container

    &__container {
        max-width: 1545px;
    }

    // .promo-header__left

    &__left {
    }

    // .promo-header__left-link

    &__left-link {
        color: $white;
        font-weight: 700;
        @include adaptiveValue("font-size", 14, 12);
        text-transform: uppercase;
        display: flex;
        transition: all 0.3s ease 0s;
        @media (max-width: 508px) {
            font-weight: 600;
        }
        &::after{
            content: "";
            display: block;
            background: url(../img/icons/promo-simbol.svg);
            width: 5px;
            height: 16px;
            margin-left: 8px;
        }
    }

    // .promo-header__right

    &__right {
    }

    // .promo-header__right-link

    &__right-link {
        font-weight: 700;
        @include adaptiveValue("font-size", 14, 12);
        text-align: right;
        &-underline {
            margin-left: 10px;
            padding-bottom: 2px;
            border-bottom: 1px solid $color-red;
        }
    }
}
.body-header {

    min-height: 85px;
    color: $white;
    background-color: $color-black;
    display: flex;
    align-items: center;
    position: relative;
    @include adaptiveValue("padding-top", 0, 10);
    @include adaptiveValue("padding-bottom", 0, 10);

    // .body-header__container

    &__container {
        .menu-open & {
            position: static;
        }
        width: 100%;
        display: flex;
        justify-content: center;
        max-width: 1545px;
    }

    // .body-header__row

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
        .menu-open & {
            position: static;
        }
    }

    &__row-container {
        display: flex;
        align-items: center;
    }

    // .body-header__logo

    &__logo {
    }

    // .body-header__menu

    &__menu {
        display: flex;
        justify-content: center;
        flex: 1 0 auto;
        @media (max-width: 770px) {
            // display: none;
        }
        @media (max-width: 1199.98px) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            overflow: auto;
            background-color: $color-sand;
            @include adaptiveValue("padding-left", 200, 20);
            @include adaptiveValue("padding-right", 200, 20);
            padding: rem(50) rem(50) rem(50) rem(50);
            transition: left 0.3s ease 0s;
            z-index: 4;
            flex-direction: column;
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                top: 0;
                left: -100%;
                height: 65px;
                background-color: $color-sand;
                z-index: 20;
                transition: left 0.3s ease 0s;
            }
            .menu-open & {
                left: 0;
                justify-content: start;
                padding-top: 60px;
                width: 100%;
                &::before {
                    left: 0;
                }
            }
        }
    }

    // .body-header__menu-catalog

    &__menu-catalog {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 60, 20, 1600, 1200, 1);
        }
    }
    &__menu-catalog li,
    &__menu-header li {
        display: flex;
        &:not(:last-child) {
            @include adaptiveValue("margin-right", 60, 15, 1600, 1200, 1);
        }
        a {
            color: $white;
            opacity: 0.5;
            font-weight: 600;
            display: flex;
            align-items: center;
            position: relative;
            min-height: 85px;
            transition: all 0.3s ease 0s;
            @include adaptiveValue("font-size", 20, 18, 1600, 1280, 1);
            .menu-open & {
                color: $color-black;
                opacity: 1;
            }
            &.current-menu-item {
                opacity: 1;
                &::before {
                    content: "";
                    position: absolute;
                    height: 5px;
                    background: #c63527;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transition: .2s ease-in;
                }
            }
            @media (any-hover: hover) {
                &:hover {
                    opacity: 1;
                    color: $white;
                    transition: all 0.3s ease 0s;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 5px;
                        background: #c63527;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                    .menu-open & {
                        color: $color-black;
                        opacity: 1;
                    }
                }
            }
            &._dropdown::after {
                content: "";
                display: block;
                background: url(../img/icons/dropdown-arrow.svg);
                width: 15px;
                height: 7px;
                margin-left: 11px;
                margin-top: 3px;
                .menu-open & {
                    display: none;
                }
            }
            @media (max-width: 1480px) {
                min-height: 40px;
            }
        }
    }

    &__menu-header {
        padding-left: 0;
        display: flex;
        @media (max-width: 1480px) {
        }
        @media (max-width: 1199.98px) {
            flex-direction: column;
            row-gap: 15px;
        }
    }

    &__phone-wrapper {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    // .body-header__phone

    &__phone {
        display: flex;
        justify-content: end;
        &::before{
            content: "";
            display: block;
            background: url(../img/icons/phone.svg);
            width: 19px;
            height: 18px;
            margin-right: 8px;
            margin-top: 3px;
            @media (max-width: 450px) {
                display: none;
            }
        }
        .menu-open & {
            @media (max-width: 380px) {
                justify-content: start;
                color: $color-grafit;
            }
        }
    }

    // .body-header__phone-body

    &__phone-body {
        display: flex;
        flex-direction: column;
    }
    // .body-header__phone-link

    &__phone-link {
        color: $white;
        @include adaptiveValue("font-size", 18, 15);
        white-space: nowrap;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                opacity: 0.8;
            }
        }
        .menu-open & {
            @media (max-width: 380px) {
                color: $color-grafit;
                font-size: 24px;
                margin-top: 30px;
                @media (any-hover: hover) {
                    &:hover {
                        color: $color-grafit;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    // .body-header__phone-time

    &__phone-time {
        font-weight: 700;
        font-size: 14px;
    }

    &__burger {
        display: none;
        @media (max-width: 1199.98px) {
            flex: 0 1 30px;
            justify-content: flex-end;
            display: flex;
            .menu-open & {
                position: absolute;
                right: 10px;
                top: 25px;
            }
        }
    }
}
.catalog-header {

    min-height: 45px;
    color: $color-green;
    background-color: $color-sand;
    display: flex;
    position: absolute;
    left: 0;
    z-index: 15;
    width: 100%;
    @media (max-width: 1199.98px) {
        display: none;
    }

    // .catalog-header__container

    &__container {
        max-width: 1421px;
    }

    // .catalog-header__row

    &__row {
    }

    // .catalog-header__menu

    &__menu {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1199.98px) {
            flex-direction: column;
        }
        @media (max-width: 1199.98px) {
            background-color: $color-sand;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    // .catalog-header__item

    &__item {
    }

    // .catalog-header__link

    &__link {
        position: relative;
        display: block;
        // transition: all 0.5s ease 0s;
        @media (max-width: 1199.98px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
        }
        svg.svg-red {
            transition: opacity 0.3s ease 0s;
            opacity: 0;
        }
        svg.svg-black {
            transition: all 0.3s ease 0s;
            opacity: 1;
        }
        &:hover svg.svg-red {
            transition: all 0.5s ease 0s;
            opacity: 1;
        }
        &:hover svg.svg-black {
            opacity: 0;
        }
        &:hover &-text{
            transition: all 0.3s ease 0s;
            color: $color-red;
        }
    }

    // .catalog-header__link-text

    &__link-text {
        color: $color-green;
        font-weight: 600;
        font-size: 16px;
        padding-top: 13px;
        padding-bottom: 10px;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $color-red;
            }
        }
        @media (max-width: 1199.98px) {
            color: $color-grafit;
        }
    }

    // .catalog-header__link-icon

    &__link-icon {
        opacity: 1;
        display: flex;
        width: 100%;
        height: 0;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 45px;
        z-index: 15;
        svg {
            // visibility: hidden;
            padding-bottom: 28px;
            display: block;
            stroke: $color-black;
            max-width: 120px;
            max-height: 87px;
        }
        @media (max-width: 1199.98px) {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            transition: none;
            svg {
                opacity: 0;
            }
            .menu-open & {
                position: relative;
                width: 60px;
                height: 28px;
                top: 15px;
                svg {
                    max-height: 50px;
                    stroke: $color-black;
                    padding-bottom: 5px;
                    opacity: 1;
                }
            }
        }
    }

    // .catalog-header__link-icon-wrapper

    &__link-icon-wrapper {
        opacity: 1;
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        .menu-open & {
           position: static;
        }
        // height: 0;
        z-index: 15;
        svg {
            position: absolute;
            top: 0;
            height: 0;
            .menu-open & {
                height: 28px;
            }
        }
    }
}

// Burger ====================================================================================================
.icon-menu {
	display: none;
	@media (max-width: 1199.98px) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 15;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
            .menu-open & {
                background-color: $color-black;
            }
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

.parent-active:hover > .catalog-header__link-text {
    color: $color-red;
}

.parent-active:hover > .catalog-header__link-icon {
    background-color: $color-red;
}