.hero {

    // .hero__slider

    &__slider {
    }

    // .hero__wrapper

    &__wrapper {
    }

    // .hero__slide

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 280px;
    }

    // .hero__title

    &__title {
        position: absolute;
        text-align: center;
        max-width: 800px;
        top: 50%;
        transform: translateY(-50%);
    }

    // .hero__title-value

    &__title-value {
        color: $white;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0.01em;
        &:not(:last-child) {
            margin-bottom: 28px;
        }
        @include adaptiveValue("font-size", 64, 36);
    }

    // .hero__title-description

    &__title-description {
        color: $white;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.01em;
        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }

    // .hero__img

    &__img {
        max-width: 100%;
        height: auto;
        @media (max-width: em(910)) {
            height: 360px;
            width: auto;
            object-fit: cover;
        }
    }
}

.title-white {
    color: $white;
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.01em;
    max-width: 800px;
    text-align: center;
    margin-bottom: 28px;
    @include adaptiveValue("font-size", 64, 42);
}

.hero-swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.hero-swiper-pagination {
}
.swiper-pagination {
}
