.production {

    background-color: $color-grey;
    @include adaptiveValue("padding-top", 130, 50);
    @include adaptiveValue("padding-bottom", 130, 50);

    // .production__container

    &__container {
    }

    // .production__title

    &__title {
        max-width: 100%;
        @include adaptiveValue("padding-bottom", 100, 30);
        margin: auto;
    }

    // .production__row

    &__row {
        @media (max-width: 576px) {
            padding-right: 4px;
            padding-left: 4px;
        }
    }
    
    // .production__item
    
    &__item {
        padding-right: 50px;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 76, 36);
        }
        @media (max-width: 576px) {
            padding-right: 4px;
            padding-left: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 396px) {
            width: 100%;
        }
    }

    // .production__item-img-cnt

    &__item-img-cnt {
        margin-bottom: 30px;
        overflow: hidden;
        border-radius: 0px 0px 0px 88.5484px;
        transition: all 0.3s ease 0s;
        @media (max-width: 767px) {
            border-radius: 0px 0px 0px 50px; 
        }
        a {
            display: block;
            overflow: hidden;
        }
        img {
            width: 100%;
            transition: all 0.3s ease 0s;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    
    // .production__item-img

    &__item-img {
    }

    // .production__item-title

    &__item-title {
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 20);
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $white;
        margin-bottom: 11px;
        display: block;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                opacity: 0.7;
            }
        }
        @media (max-width: 396px) {
            align-self: center;
            text-align: center;
        }
    }

    // .production__item-category

    &__item-category {
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $white;
        margin-bottom: 7px;
        display: block;
        align-self: start;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                opacity: 0.7;
            }
        }
        @media (max-width: 396px) {
            align-self: center;
        }
    }
}