.service {

    // .service__container

    &__container {
        margin-top: 50px;
        @include adaptiveValue("margin-bottom", 150, 50);
    }

    // .service__row

    &__row {
        max-width: 1545px;
        margin: 0 auto;
    }

    // .service__wrapper

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 991px) {
            flex-direction: column;
        }
        @media (max-width: 420px) {
            padding: 0;
        }
    }

    // .service__item-right

    &__item-right {
    }

    // .service__title

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(50) 0;
        max-width: 1400px;
        @media (max-width: 991px) {
            margin-bottom: 30px;
            @include adaptiveValue("font-size", 48, 28);
        }
    }

    // .service__desc

    &__desc {
        font-size: 18px;
    }

    // .service__subtitle

    &__subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(24) 0;
    }

    // .service__desc-list

    &__desc-list {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        letter-spacing: 0.01em;
        color: $color-grafit;
        margin: 0 0 rem(16) rem(28);
        li {
            list-style-type: disc;
            padding-left: rem(8);
        }
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }

    // .service__item-left

    &__item-left {
    }
}