.special-offer {

    

    // .special-offer__row

    &__row {
        margin: 0 auto;
        max-width: 2560px;
        // @include adaptiveValue("min-height", 640, 540);
    }

    // .special-offer__left

    &__left {
        background: url(../img/home/offer/special-offer-1.jpg) bottom/cover no-repeat;
        // display: flex;
        // justify-content: flex-end;
        // padding-right: 50px;
    }

    // .special-offer__right

    &__right {
        background: url(../img/home/offer/special-offer-2.jpg) bottom/cover no-repeat;
    }
    // .special-offer__body

    &__body {
        @include adaptiveValue("padding-left", 172, 20, 1600, 1000,1);
        @include adaptiveValue("padding-right", 172, 20, 1600, 1000,1);
        // @media (max-width: 575px) {
        //     height: 480px;
        // }
    }

    // .special-offer__title

    &__title {
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $white;
        // min-height: 347px;
        @include adaptiveValue("font-size", 48, 28);
        @include adaptiveValue("min-height", 347, 80);
        @include adaptiveValue("margin-top", 85, 30);
    }

    // .special-offer__description

    &__description {
        line-height: 100%;
        letter-spacing: 0.01em;
        color: $white;
        &:not(:last-child) {
            margin-bottom: 29px;
        }
        max-width: 550px;
        @include adaptiveValue("font-size", 36, 18);
        @include adaptiveValue("min-height", 55, 80);
    }

    &__button {
        @include adaptiveValue("margin-bottom", 63, 40);
    }
}