html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

html {
    font-size: 14px;
    @media (min-width: 768px) {
        font-size: 14px;
    }
    @media (min-width: 1500px) {
        font-size: 16px;
    }
    @media (min-width: 1700px) {
        font-size: 17px;
    }
    @media (min-width: 1921px) {
        font-size: 18px;
    }
}

body {
    display: flex;
    flex-direction: column;
    color: black;
    counter-reset: steps;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    font-family: "Gilroy", sans-serif;
    background-color: #fff;
    .footer-wrapper {
        margin-top: auto;
    }
    .fader {
        width: 100%;
        height: 100vh;
        content: "";
        background-color: rgba(255, 255, 255, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
        opacity: 0;
        backdrop-filter: blur(5px);
    }
    &.fixed {
        overflow: hidden;
        position: relative;
        @media (min-width: 992px) {
            padding-right: 17px;
        }
        .fader {
            display: block;
            opacity: 1;
        }
        .header--index {
            @media (min-width: 992px) {
                padding-right: 17px;
            }
        }
    }
}

.page-content {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: unset;
    @media (max-width: 991px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.container {
    @media (min-width: 1200px) and (max-width: 1920px) {
        max-width: 80%;
    }
    @media (min-width: 1921px) {
        max-width: 1860px;
    }
}

.navbar-brand {
    @media (min-width: 1200px) {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gilroy", sans-serif;
}

.row {
    position: relative;
}

a {
    text-decoration: none;
}

.index-page {
    position: relative;
    padding-bottom: 100px;
    @media (max-width: 767px) {
        padding-bottom: 50px;
    }
    @media (max-width: 575px) {
        padding-bottom: 30px;
    }
}

.inner-page {
    flex-grow: 1;
    padding-top: 80px;
    padding-bottom: 50px;
    @media (max-width: 1920px) {
        padding-top: 50px;
    }
}

.basic-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.36;
    @media (max-width: 575px) {
        font-size: 1.7rem;
    }
}

.basic-link {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.1;
    color: black;
    transition: 0.2s ease;
    span {
        margin-left: 3px;
    }
    &:hover {
        transition: 0.2s ease;
        color: #737373;
    }
}

.buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basic-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px 17px 6px;
    color: #F5F4F7;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.2s ease;
    @media (max-width: 1920px) {
        padding: 5px 17px 5px;
    }
    @media (max-width: 1499px) {
        padding: 6px 14px 5px;
        font-size: 0.9rem;
        border-radius: 7px;
    }
    @media (max-width: 991px) {
        padding: 5px 14px 4px;
        border-radius: 7px;
    }
    &:hover {
        background-color: transparent;
        transition: 0.2s ease;
    }
    &--light {
        background-color: transparent;
        &:hover {
            color: #F5F4F7;
        }
    }
    &--grey {
        color: #EFEEF2;
        &:hover {
            background-color: #737373;
        }
    }
}



.title {
    &-value {
        font-weight: 600;
        color: $color-grafit;
        font-size: 64px;
    }
    &-description {
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        color: #000;
    }

}
input,
button,
textarea {
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
    border: none;
}
.button {
    // width: 255px;
    // height: 55px;
    // font-size: 24px;
    color: $white;
    line-height: 120%;
    letter-spacing: 0.01em;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @include adaptiveValue("font-size", 24, 16);
    @include adaptiveValue("width", 255, 180);
    @include adaptiveValue("height", 55, 42);
    @media (any-hover: hover) {
        &:hover {
            opacity: 0.8;
        }
    }
}
.button-red {
    background-color: $color-red;
}
.button-dark {
    background-color: $black;
}

.highlight-red {
    color: $color-red;
    transition: all 0.3s ease 0s;
    &::marker {
        color: $color-red;
        transition: all 0.3s ease 0s;
    }
    &.scheme__img-circle {
        color: $white;
        background-color: $color-red;
        opacity: 1;
        transition: all 0.3s ease 0s;
        &::marker {
            background-color: $color-red;
            color: $white;
            transition: all 0.3s ease 0s;
        }
    }
}

li.highlight-red{
    color: $color-red;
    transition: all 0.3s ease 0s;
}

.title-white {
    color: $white;
    font-weight: 600;
    // font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.01em;
    max-width: 800px;
    text-align: center;
    margin-bottom: 28px;
    // @include adaptiveValue("font-size", 64, 32, 1600, 800, 1);
    @include adaptiveValue("font-size", 48, 28);
}

.title-grey {
    color: $color-grafit;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.01em;
    // @include adaptiveValue("font-size", 64, 32, 1600, 800, 1);
    @include adaptiveValue("font-size", 48, 28);
}
body._lock {
    overflow: hidden;
}

.more {
    width: 194px;
    height: 48px;
    border: 1px solid $color-sand;
    border-radius: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $color-grafit;
    text-align: center;
    // padding: rem(12) rem(35) rem(15) rem(35);
    margin-top: 80px;
    @media (any-hover: hover) {
        &:hover {
            border: 1px solid $color-grafit;
        }
    }
}