// $main-font-color: rgb(80, 80, 80);
// $main-basic: #79629d;
// $main-basic-light: #D0CEDC;
// $main-basic-dark: #533682;
// $main-basic-mat: #8e8aa7;
// $blue: #00A0E3;
// $grey: #656565;
$white: #ffffff;
$black: #000000;


$color-not-white: #f5f5f5;
$color-red: #be1622;
$color-grafit: #2a2c2b;
$color-black: #212322;
$color-grey:#63635d;
$color-green: #1e372a;
$color-sand: #d6d2c4;
$color-gradient: linear-gradient(0deg, #63635D 30%, #000000 135%);
